h1 {   
    font-family: "Montserrat" sans-serif
}
.post {
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: #fffafa;
}

.post .data {
    font-family:'Roboto', sans-serif;
    color: #008080;
}


